.cardAi {
  width: 230px;
  height: 300px;
  margin-bottom: 30px;
}

.likeAi button {
  margin-left: 190px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 50%;
  background-color: #a4988d;
  position: relative;
  z-index: 3;
}

.imageAi {
  background-color: azure;
  margin-top: -40px;
}

.imageAi img {
  object-fit: cover;
  height: 230px;
  width: 230px;
}
