.cardArt {
  width: 230px;
  height: 300px;
  margin-bottom: 30px;
}

.likeArt button {
  position: relative;
  margin-left: 190px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 50%;
  background-color: #a4988d;
  z-index: 3;
}

.titleArt {
  font-size: 16px;
  margin-top: -10px;
}

.secondInfo {
  font-size: 10px;
  margin-top: -10px;
}

.textArt {
  margin-left: 15px;
}

.imageArt {
  margin-top: -40px;
}

.imageArt img {
  object-fit: cover;
  height: 230px;
  width: 230px;
}
