.createPage {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#regenerate {
  width: 200px;
  height: 30px;
  font-size: 12px;
  color: gray;
  background-color: white;
  border: solid 1px #f59b1a;
  margin: auto;
}

.titleOfCreation {
  margin-top: 130px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  text-align: center;
}

hr {
  width: 150px;
  height: 0px;
}

.titleOfCreation h1 {
  font-size: 50px;
  font-family: Cinzel;
  font-weight: 200;
}

.searchAi {
  width: 600px;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

.searchAi input {
  text-decoration: none;
  width: 100%;
  border: 0px;
  border-bottom: solid 1px !important;
  background-color: transparent;
  color: black;
  font-family: cinzel;
  font-weight: 600;
  font-size: 11px;
  margin-right: 20px;
  outline: none;
}

.searchAi button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: gray;
  background-color: white;
  border: solid 1px #f59b1a;
}

.cardsOfAi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  margin-top: 40px;
}

.loading-bar {
  width: 0px;
  height: 8px;
  background: #f59b1a;
  margin: auto;
  margin-bottom: 25px;
}

.loading-bar-full {
  width: 600px;
  height: 8px;
  background: #f59b1a;
  margin: auto;
  margin-bottom: 25px;
  transition: 15s;
}


.cardAi {
  width: 230px;
  margin-bottom: 20px;
}

.likeAi button {
  margin-left: 190px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 0px;
  border-radius: 50%;
  background-color: #a4988d;
  position: relative;
  z-index: 3;
}

.likeAi img {
  width: 100%;
}

.imageAi {
  margin-top: -40px;
}

.imageAi img {
  object-fit: cover;
  height: 230px;
  width: 230px;
}

