.firstInfo {
  position: fixed;
  margin-top: 160px;
  left: 300px;
  z-index: 2;
  display: flex;
}

.text {
  width: 450px;
  height: 550px;
}

.collage {
  width: 500px;
  height: 550px;
  background-color: blue;
}

.title {
  font-family: Cinzel;
  font-weight: 200;
  margin-top: 100px;
}

.title h2 {
  font-size: 55px;
}
.title h1 {
  font-size: 95px;
  margin-top: -50px;
}

.createYourArtpiece {
  width: 250px;
  display: flex;
  border-bottom: solid 1px;
}

.createYourArtpiece button {
  width: 100%;
  border: 0px;
  background-color: transparent;
  color: black;
  font-family: Poppins;
  font-size: 11px;
}
