.profilePage {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.titleOfProfile {
  margin-top: 130px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  text-align: center;
}

hr {
  width: 150px;
  height: 0px;
}

.titleOfProfile h1 {
  font-size: 50px;
  font-family: Cinzel;
  font-weight: 200;
}

.infoProfileData {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-right: 100px;
  margin-top: 50px;
  width: 500px;
}

.infoProfileData button {
  width: 80px;
  height: 30px;
  font-size: 12px;
  background-color: #a4988d;
  border: none;
  color: white;
}

.infoProfile {
  display: flex;
  margin: auto;
}

.infoProfile img {
  width: 300px;
}
